<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="91be18991c92942da7eb2b0a11cb6402"/>
    <title>Ervin hua station</title>
  </head>
  <body>

    <div class="share">
            <div class="bdsharebuttonbox">
                <a href="#" class="fa fa-weibo bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="fa fa-qq bds_sqq" data-cmd="sqq" title="分享给 QQ 好友"></a>
                <a href="#" class="fa fa-files-o bds_copy" data-cmd="copy" title="复制网址"></a>
                <a href="#" class="fa fa fa-envelope-o bds_mail" data-cmd="mail" title="通过邮件分享"></a>
                <a href="#" class="fa fa-weixin bds_weixin" data-cmd="weixin" title="生成文章二维码"></a>
                <a href="#" class="fa fa-share-alt bds_more" data-cmd="more"></i></a>
            </div>
            <script>
                window._bd_share_config={
                    "common":{"bdSnsKey":{},"bdText":"<%- post.title %>　| <%- config.title %>　","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
            </script>
            <div class="addthis_sharing_toolbox"></div>
    </div>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260468924'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260468924' type='text/javascript'%3E%3C/script%3E"));</script>
  </body>
</html>
